<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoria?.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let producto of productos" (click)="verProducto(producto.id_producto)"> <!-- Aquí se agrega la navegación -->
      <ion-label>
        <h2>{{ producto.Nombre }}</h2>
        <p>{{ producto.Descripcion }}</p>
        <p>{{ producto.Precio | currency }}</p>
      </ion-label>
      <img [src]="producto.Imagen" *ngIf="producto.Imagen" /> <!-- Muestra la imagen del producto -->
    </ion-item>
  </ion-list>
</ion-content>
