<!-- src/app/pages/registro/registro.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Campo Nombre -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && form.controls['name'].errors" class="validation-error">
        El nombre es requerido.
      </div>

      <!-- Campo Correo Electrónico -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && form.controls['email'].errors" class="validation-error">
        <p *ngIf="form.controls['email'].errors['required']">El correo es requerido.</p>
        <p *ngIf="form.controls['email'].errors['email']">Correo inválido.</p>
      </div>

      <!-- Campo Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && form.controls['password'].errors" class="validation-error">
        <p *ngIf="form.controls['password'].errors['required']">La contraseña es requerida.</p>
        <p *ngIf="form.controls['password'].errors['upperCase']">Debe contener al menos una letra mayúscula.</p>
        <p *ngIf="form.controls['password'].errors['number']">Debe contener al menos un número.</p>
        <p *ngIf="form.controls['password'].errors['specialChar']">Debe contener al menos un carácter especial.</p>
        <p *ngIf="form.controls['password'].errors['minlength']">La contraseña debe tener al menos 4 caracteres.</p>
        <p *ngIf="form.controls['password'].errors['maxlength']">La contraseña no puede exceder 32 caracteres.</p>
      </div>

      <!-- Campo Confirmar Contraseña -->
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirmPassword" type="password" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && form.errors?.['mismatch']" class="validation-error">
        Las contraseñas no coinciden.
      </div>

      <!-- Botón de Registro -->
      <ion-button expand="full" type="submit" class="submit-button">Registrar</ion-button>
    </form>
  </div>
</ion-content>
