<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Campo Nombre -->
      <ion-item class="form-item">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="form.controls['name'].invalid && submitted" class="validation-error">
        El nombre es requerido.
      </div>

      <!-- Campo Email -->
      <ion-item class="form-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="form.controls['email'].invalid && submitted" class="validation-error">
        El email es requerido y debe ser válido.
      </div>

      <!-- Campo Contraseña -->
      <ion-item class="form-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="form.controls['password'].hasError('required') && submitted" class="validation-error">
        La contraseña es requerida.
      </div>
      <div *ngIf="form.controls['password'].hasError('upperCase') && submitted" class="validation-error">
        La contraseña debe contener al menos una letra mayúscula.
      </div>
      <div *ngIf="form.controls['password'].hasError('number') && submitted" class="validation-error">
        La contraseña debe contener al menos un número.
      </div>
      <div *ngIf="form.controls['password'].hasError('specialChar') && submitted" class="validation-error">
        La contraseña debe contener al menos un carácter especial.
      </div>
      <div *ngIf="form.controls['password'].hasError('minlength') && submitted" class="validation-error">
        La contraseña debe tener al menos 4 caracteres.
      </div>
      <div *ngIf="form.controls['password'].hasError('maxlength') && submitted" class="validation-error">
        La contraseña no debe exceder los 32 caracteres.
      </div>

      <!-- Campo Confirmar Contraseña -->
      <ion-item class="form-item">
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div *ngIf="form.hasError('mismatch') && submitted" class="validation-error">
        Las contraseñas no coinciden.
      </div>

      <!-- Texto de Términos y Condiciones -->
      <ion-text color="medium" class="terms-text">
        <p>Al hacer clic en Registrarse, aceptas los <a href="#">Términos y Condiciones</a></p>
      </ion-text>

      <!-- Botón de Envío -->
      <ion-button expand="full" type="submit" class="submit-button">Registrarse</ion-button>
    </form>
  </div>
</ion-content>
