<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ producto.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding page-background">
  <!-- Botón para agregar a favoritos -->
  <ion-button id="corazon" class="corazon" (click)="agregarAFavoritos()">
    <ion-icon slot="icon-only" name="heart"></ion-icon>
    <ion-toast trigger="corazon" message="El producto se guardó en favoritos" [duration]="5000"></ion-toast>
  </ion-button>

  <!-- Imagen cargada desde Blob -->
  <img [src]="imagenProducto" alt="Imagen del Producto">

  <!-- Botón para abrir el modal de más información -->
  <ion-button id="open-modal" expand="block">Más información</ion-button>

  <!-- Modal con más información del producto -->
  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content class="modal-content">
        <section>
          <div class="example-label">
            <img src="/assets/icon/estrellas.webp" alt="Imagen de Valoración" width="150" height="50">
            <h3>{{ producto.nombre }}</h3>
            <h4>${{ producto.precio }}</h4>
            <h5>Detalles</h5>
            <h6>{{ producto.descripcion }}</h6>

            <!-- Botón para añadir al carrito -->
            <ion-button id="open-toast" expand="block" (click)="addToCart()">
              <ion-icon slot="start" name="cart"></ion-icon>
              Añadir al carro
            </ion-button>
            <ion-toast trigger="open-toast" message="El producto se agregó al carro. ¡Muchas gracias!" [duration]="5000"></ion-toast>

            <!-- Botón para comprar directamente -->
            <ion-button color="warning" [routerLink]="['/carrito']">
              <ion-icon slot="start" name="cash"></ion-icon>
              Comprar ya
            </ion-button>
          </div>
        </section>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Toast de confirmación -->
  <ion-toast id="toast" message="Producto agregado al carrito" duration="2000"></ion-toast>
</ion-content>
