<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Manteles Mesa/Individuales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Producto 11 -->
  <ion-card color="primary" button [routerLink]="['/producto11']">
    <ion-card-header>
      <ion-card-title>Mantel de mesa con patron de cuadros</ion-card-title>
      <ion-card-subtitle>Mantel/Mesa/Artesanal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $23.999 </ion-card-content>
    <img src="/assets/icon/producto11.png" alt="Imagen del Producto">
  </ion-card>

  <!-- Producto 12 -->
  <ion-card color="primary" button [routerLink]="['/producto12']">
    <ion-card-header>
      <ion-card-title>Mantel de mesa con patron floreado</ion-card-title>
      <ion-card-subtitle>Mante/Mesa/Artesanal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $24.999 </ion-card-content>
    <img src="/assets/icon/producto12.png" alt="Imagen del Producto">
  </ion-card>

  <!-- Producto 13 -->
  <ion-card color="primary" button [routerLink]="['/producto13']">
    <ion-card-header>
      <ion-card-title>Mantel de mesa largo</ion-card-title>
      <ion-card-subtitle>Mantel/Mesa/Artesanal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $28.999 </ion-card-content>
    <img src="/assets/icon/producto13.png" alt="Imagen del Producto">
  </ion-card>

  <!-- Producto 14 -->
  <ion-card color="primary" button [routerLink]="['/producto14']">
    <ion-card-header>
      <ion-card-title>Mantel de mesa blanco</ion-card-title>
      <ion-card-subtitle>Mantel/Mesa/Artesanal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $18.999 </ion-card-content>
    <img src="/assets/icon/producto14.png" alt="Imagen del Producto">
  </ion-card>

   <!-- Producto 15 -->
   <ion-card color="primary" button [routerLink]="['/producto15']">
    <ion-card-header>
      <ion-card-title>Mantel de mesa individual</ion-card-title>
      <ion-card-subtitle>Mantel/Individual</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $5.999 </ion-card-content>
    <img src="/assets/icon/producto15.png" alt="Imagen del Producto">
  </ion-card>


</ion-content>