<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="confirmAddCategoria()">
    Añadir Categoría
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let categoria of categorias">
      <ion-label>
        <ion-input [(ngModel)]="categoria.nombre" required></ion-input> <!-- Línea modificada: Añadido 'required' -->
      </ion-label>
      <ion-button (click)="confirmUpdateCategoria(categoria)">
        Guardar
      </ion-button>
      <ion-button color="danger" (click)="confirmDeleteCategoria(categoria)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
