<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar producto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- Campo Nombre de la Categoría -->
  <ion-item>
    <ion-label position="floating">Nombre de la Categoría</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  

  <!-- Botón de Guardar Cambios -->
  <ion-button expand="full" class="ion-margin-top">
    Guardar Cambios
  </ion-button>

</ion-content>
