<!-- src/app/pages/perfil/perfil.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Mostrar la información del usuario solo si está logueado -->
  <ng-container *ngIf="usuarioLogueado">
    <ion-item *ngIf="avatarURL">
      <ion-label position="stacked">Avatar</ion-label>
      <ion-img [src]="avatarURL" alt="Avatar del Usuario"></ion-img>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="usuarioLogueado.Nombre" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="usuarioLogueado.Correo" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="usuarioLogueado.Password" type="password" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input [(ngModel)]="usuarioLogueado.Direccion" readonly></ion-input>
    </ion-item>

    <ion-button expand="full" routerLink="/editarperfil">
      Editar Perfil
    </ion-button>

    <ion-button expand="full" color="danger" (click)="cerrarSesion()">
      Cerrar Sesión
    </ion-button>
  </ng-container>
</ion-content>
