<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Admin</ion-title>
    <!-- Botón de Cerrar Sesión -->
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let section of adminSections">
        <ion-card (click)="viewSection(section)">
          <ion-img [src]="section.image"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ section.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
