<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <ion-item class="form-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
      <div *ngIf="errorMessage && !email" class="validation-error">
        El email es requerido.
      </div>

      <ion-item class="form-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
      <div *ngIf="errorMessage && !password" class="validation-error">
        La contraseña es requerida.
      </div>
      <div *ngIf="errorMessage && (email && password)" class="validation-error">
        {{ errorMessage }}
      </div>

      <ion-button expand="full" type="submit" class="submit-button">Iniciar sesión</ion-button>
    </form>

    <!-- Link to recover password page -->
    <div class="forgot-password">
      <a (click)="navigateToRecover()">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</ion-content>
