<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accesorios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="corazon" class="corazon" shape="">
    <ion-icon slot="icon-only" name="heart"></ion-icon>
    <ion-toast trigger="corazon" message="El produto se guardo en favoritos"
              [duration]="5000"></ion-toast>
  </ion-button>
  <img src="/assets/icon/producto3.png" alt="Imagen del Producto">
  <ion-button color="tertiary" id="open-modal" expand="block">Mas informacion</ion-button>
  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.5]">
    <ng-template>
      <ion-content>
        <section>
          <label class="example-label">
            <img src="/assets/icon/estrellas.webp" alt="Imagen del Producto" width="150" height="50">
            <h3>Collar pulsera artesanal</h3>
            <h4>$7.999</h4>
            <h5>Detalles</h5>
            <h6>Collar/Pulsera con piedras artesanales</h6>
            <ion-button id="open-toast" color="warning" expand="block"><ion-icon slot="start" name="cart"></ion-icon>
              Añadir al carro</ion-button>
            <ion-toast trigger="open-toast" message="El producto se agrego al carro Muchas gracias"
              [duration]="5000"></ion-toast>
            <ion-button color="danger" [routerLink]="['/carrito']">
              <ion-icon slot="start" name="cash"></ion-icon>
              Comprar ya
            </ion-button>
          </label>
          
        </section>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-toast id="toast" message="Producto agregado al carrito" duration="2000"></ion-toast>
</ion-content>

<script>
  document.getElementById('add-to-cart').addEventListener('click', function () {
    const toast = document.getElementById('toast');
    toast.present();
  });
</script>
