ion-menu {
    --width: 250px; /* Ajusta el ancho del menú */
  }
  
  ion-menu .ion-toolbar {
    --background: #3880ff; /* Cambia el color de fondo del toolbar del menú */
  }
  
  ion-menu .ion-title {
    color: #fff; /* Cambia el color del título del menú */
  }
  