<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accesorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Producto 1 -->
  <ion-card color="primary" button [routerLink]="['/producto1']">
    <ion-card-header>
      <ion-card-title>Collar con pompones</ion-card-title>
      <ion-card-subtitle>Collar/Bisutería artesanal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $9.999 </ion-card-content>
    <img src="/assets/icon/producto1.png" alt="Imagen del Producto">
  </ion-card>

  <!-- Producto 2 -->
  <ion-card color="primary" button [routerLink]="['/producto2']">
    <ion-card-header>
      <ion-card-title>Collar de piedras artesanales</ion-card-title>
      <ion-card-subtitle>Collar/Bisutería artesanal/pulsera</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $14.999 </ion-card-content>
    <img src="/assets/icon/producto2.png" alt="Imagen del Producto">
  </ion-card>

  <!-- Producto 3 -->
  <ion-card color="primary" button [routerLink]="['/producto3']">
    <ion-card-header>
      <ion-card-title>Collar pulsera artesanal</ion-card-title>
      <ion-card-subtitle>Joyeria/Pulsera/Collar</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $7.999 </ion-card-content>
    <img src="/assets/icon/producto3.png" alt="Imagen del Producto">
  </ion-card>

  <!-- Producto 4 -->
  <ion-card color="primary" button [routerLink]="['/producto4']">
    <ion-card-header>
      <ion-card-title>Collar de esmeralda</ion-card-title>
      <ion-card-subtitle>Collar/Bisutería artesanal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $12.999 </ion-card-content>
    <img src="/assets/icon/producto4.png" alt="Imagen del Producto">
  </ion-card>

   <!-- Producto 5 -->
   <ion-card color="primary" button [routerLink]="['/producto5']">
    <ion-card-header>
      <ion-card-title>Pendientes con zafiros</ion-card-title>
      <ion-card-subtitle>Pendientes/Joyeria</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Precio: $24.999 </ion-card-content>
    <img src="/assets/icon/producto5.png" alt="Imagen del Producto">
  </ion-card>
  


</ion-content>