<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Categoria1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="primary" button [routerLink]="['/producto1']">
    
    <ion-card-header>
      <ion-card-title>Card Title1</ion-card-title>
      <ion-card-subtitle>Card Subtitle1</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content1 </ion-card-content>
    
  </ion-card>
  
  <ion-card color="secondary" button [routerLink]="['/producto2']">
    <ion-card-header>
      <ion-card-title>Card Title2</ion-card-title>
      <ion-card-subtitle>Card Subtitle2</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content2 </ion-card-content>
  </ion-card>
  
  <ion-card color="tertiary" button [routerLink]="['/producto3']">
    <ion-card-header>
      <ion-card-title>Card Title3</ion-card-title>
      <ion-card-subtitle>Card Subtitle3</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content3 </ion-card-content>
  </ion-card>
  
  <ion-card color="success" button [routerLink]="['/producto4']">
    <ion-card-header>
      <ion-card-title>Card Title4</ion-card-title>
      <ion-card-subtitle>Card Subtitle4</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content4 </ion-card-content>
  </ion-card>
  
  <ion-card color="warning" button [routerLink]="['/producto5']">
    <ion-card-header>
      <ion-card-title>Card Title5</ion-card-title>
      <ion-card-subtitle>Card Subtitle5</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content5 </ion-card-content>
  </ion-card>
  

</ion-content>
