<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="favoritos.length === 0" class="empty-state">
    <p>No tienes productos en favoritos.</p>
  </div>

  <!-- Mostrar productos favoritos -->
  <div *ngFor="let item of favoritos" class="product">
    <ion-card class="small-card">
      <ion-card-header>
        <ion-card-title>{{ item.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-subtitle>{{ item.descripcion }}</ion-card-subtitle>
      <img [src]="item.imagen" alt="Imagen del Producto">

      <!-- Botón para eliminar de favoritos -->
      <ion-button color="danger" (click)="eliminarDeFavoritos(item)">
        <ion-icon slot="start" name="trash"></ion-icon>
        Eliminar de favoritos
      </ion-button>

      <!-- Botón para ver detalles del producto -->
      <ion-button [routerLink]="['/producto', item.id]">
        <ion-icon slot="start" name="eye"></ion-icon>
        Ver detalles
      </ion-button>
    </ion-card>
  </div>
</ion-content>
