.no-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #888;
  }
  
  ion-item {
    --border-color: #ddd;
    --border-width: 1px;
    --inner-padding-end: 12px;
  }
  
  ion-icon {
    font-size: 20px;
  }
  