ion-content {
  --background: #ac8700; /* fondo */
  /* fondo */
}

.cart-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130%;
}
ion-card-title {
  font-size: 2.0em; /* Tamaño de fuente para el título */
  font-weight: bold;
  color: #0c0c0c; /* Color del texto del título */
  margin: 0; /* Elimina el margen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-card-subtitle {
  font-size: 2.0em; /* Tamaño de fuente para el título */
  font-weight: bold;
  color: #0c0c0c; /* Color del texto del título */
  margin: 0; /* Elimina el margen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-button {
  
  width: 100%;
  max-width: 400px;
}

.product {
  width: 100%;
  max-width: 270px;
  margin-bottom: 0px;
}

.small-card {
  background: #ecca25 ;  
  width: 1000%;
  max-width: 250px;
}

.large-text {
  font-size: 1.5em;
}

.total-cost {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

ion-button {
  --background: #ffc107;
  width: 100%;
  max-width: 300px;
}