<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Carrito de Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cart-container">
    <div *ngFor="let item of cartItems" class="product">
      <ion-card class="small-card">
        <ion-card-header>
          <ion-card-title class="large-text">{{ item.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-subtitle class="large-text">
          {{ item.descripcion }}
        </ion-card-subtitle>
        <img [src]="item.imagen" alt="Imagen del Producto">
        <ion-button color="danger" (click)="confirmarEliminacion(item)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Eliminar
        </ion-button>
      </ion-card>
    </div>

    <div class="total-cost">
      <ion-item>
        <ion-label>Total:</ion-label>
        <h3><ion-note slot="end">{{ totalCost | currency }}</ion-note></h3>
      </ion-item>
    </div>

    <ion-button expand="full" type="button" [routerLink]="['/address']">Ingresa dirección para enviar</ion-button>
  </div>
</ion-content>
