<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Campo Nombre del Producto -->
  <ion-item>
    <ion-label position="floating">Nombre del Producto</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <!-- Campo Precio -->
  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input type="number" min="0" step="0.01"></ion-input>
  </ion-item>

  <!-- Campo Descripción del Producto -->
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <!-- Botón de Guardar Cambios -->
  <ion-button expand="full" class="ion-margin-top">
    Guardar Cambios
  </ion-button>

</ion-content>
