ion-content {
    --background: #f0f0f0; /* fondo */
    
  }
  ion-card {
    display: flex;
    align-items: center;
    padding: 40px; /* espacio de la tarjeta */
    margin-bottom: 50px; /* espacio entre tarjetas */
    color: #f0f0f0
  
   
  
    img {
      width: 300px; /* Ajusta el ancho de la imagen */
      height: auto; /* Mantiene la proporción de la imagen */
      margin-left: auto; /* Asegura que la imagen esté alineada a la derecha */
    }
  
    ion-card-title {
      font-size: 2.5em; /* Tamaño de fuente para el título */
      font-weight: bold;
      color: #fdfcfc; /* Color del texto del título */
      margin: 0; /* Elimina el margen */
    }
  
    ion-card-subtitle {
      font-size: 1.7em; /* Tamaño de fuente para el subtítulo */
      color: #f3efef; /* Color del texto del subtítulo */
      margin: 0; /* Elimina el margen */
    }
  
    ion-card-content {
      font-size: 1.5em; /* Tamaño de fuente para el contenido */
      color: #f7f5f5; /* Color del texto del contenido */
      margin-top: 0px; /* Espacio encima del contenido */
    }

    ion-button {
        font-size: 3rem; // Aumenta el tamaño del texto
        padding: 2rem 3rem; // Aumenta el tamaño del botón
        margin: 1rem; // Espacio entre los botones
      }
    }